<link href="@Url.Content("~/css/pedigreeViews.css")" rel="stylesheet" type="text/css" />

<script>
    $(document).ready(function () {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    });
</script>


@*I pozycja*@

<div class="box">

    <div class="supercharty">

        <div class="row">
            <h4 class="text-center">Drzewo genealogiczne<span class="under_flat"> FAMILY TREE</span></h4>
            <h5 class="text-center"><strong>CYRENE'SPERIDES </strong>DE SALKIN AIDAN</h5>
            <hr />
            <div class="col-md-12 list text-center">
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/4631')" data-toggle="tooltip" data-html="true" title="<b>CYRENE'SPERIDES'<br>DE SALKIN AIDAN</b><br><br>PL JCH<br>Blue, ESP 2015">
                    <div class="inside_first">
                        <p>Cyrene'Sperides</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 list text-center">
                <div class="vertical-one"></div>
            </div>
            <div class="col-md-12 list text-center">
                <div class="first-line"></div>
            </div>
        </div>

        @*II pozycja*@

        <div class="row">
            <div class="col-md-12 list text-center">
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/4272')" data-toggle="tooltip" data-html="true" title="<b>HYPNOTIC POISON<br>DU DOMAINE DE CHANTELOUP</b><br><br>C.I.B., Baltic CH, DE CH (VDH), RU CH, RKF CH, CZ CH, LV CH, LT CH, EE CH, LV JCH, EE JCH<br><br>Blue, BEL 2005">
                    <div class="inside_first">
                        <p>Hypnotic Poison</p>
                    </div>
                </div>
                <div class="first" style="background: none; height:0;">
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/4826')" data-toggle="tooltip" data-html="true" title="<b>TRES BEAU STAR ON FIRE<br>CUCHULAIN</b><br><br>Blue and white, White markings, USA 2008">
                    <div class="inside_first">
                        <p>Tres Beau Star On Fire</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 list" style="height:15px;">
                <div class="vertical-two" style="margin-left:28.5%"></div>
                <div class="vertical-two" style="margin-left:42.5%"></div>
            </div>

            <div class="col-md-12 list text-center">
                <div class="second-line">
                </div>
                <div class="second-line" style="background: none; border:none; height:0;">
                </div>
                <div class="second-line">
                </div>
            </div>
        </div>

        @*III pozycja*@

        <div class="row">
            <div class="col-md-12 list text-center">
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/745')" data-toggle="tooltip" data-html="true" title="<b>BE BOP<br>DOMAINE DE CHANTELOUP</b><br><br>C.I.B., FR CH, LU CH, CH CH, ESH 2008, ESH 2010<br><br>Black, FRA 2006">
                    <div class="inside_first">
                        <p>Be Bop</p>
                    </div>
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/10364')" data-toggle="tooltip" data-html="true" title="<b>FELICIE<br>DOMAINE DE CHANTELOUP</b><br><br>Black, FRA 2010">
                    <div class="inside_first">
                        <p>Felicie</p>
                    </div>
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/3564')" data-toggle="tooltip" data-html="true" title="<b>ROCKET DIABLO<br>BLUESKIES DAWG</b><br><br>US CH<br><br>Blue and white, White markings, USA 2000">
                    <div class="inside_first">
                        <p>Rocket Diablo</p>
                    </div>
                </div>
                <div class="first" style="background-image:url('http://getdrawings.com/img/italian-silhouette-22.jpg')" data-toggle="tooltip" data-html="true" title="<b>ALL FIRED UP<br>CUCHULAIN</b><br><br>Red, USA 2004">
                    <div class="inside_first">
                        <p>All Fired Up</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h2 class="text-center orange"><i class="fa fa-tree"></i></h2>
    <div class="col-lg-12 text-center">
        <a href="https://italiangreyhound.breedarchive.com/animal/print_pedigree/cyrenesperides-du-salkin-aidan-92676b51-1187-4424-bb6d-4aac56e59c45" target="_blank">Pełne drzewo genealogiczne <span class="under_flat"> Full family tree</span><br /> www.italiangreyhound.breedarchive.com</a>
    </div>
</div>