<link href="@Url.Content("~/css/pedigreeViews.css")" rel="stylesheet" type="text/css" />

<script>
    $(document).ready(function () {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    });
</script>


@*I pozycja*@

<div class="box">

    <div class="supercharty">

        <div class="row">
            <h4 class="text-center">Drzewo genealogiczne<span class="under_flat"> FAMILY TREE</span></h4>
            <h5 class="text-center"><strong>IULIUS </strong>ELEDI GRACE</h5>
            <hr />
            <div class="col-md-12 list text-center">
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/4634')" data-toggle="tooltip" data-html="true" title="<b>IULIUS<br>ELEDI GRACE</b><br><br>PL JCH<br>Fawn, LVA 2013">
                    <div class="inside_first">
                        <p>Iulius</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 list text-center">
                <div class="vertical-one"></div>
            </div>
            <div class="col-md-12 list text-center">
                <div class="first-line"></div>
            </div>
        </div>

        @*II pozycja*@

        <div class="row">
            <div class="col-md-12 list text-center">
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/1602')" data-toggle="tooltip" data-html="true" title="<b>ELEDI ELMO<br>DEVIS PIGEONS</b><br><br>C.I.B., Baltic CH, DE CH (VDH), RU CH, RKF CH, CZ CH, LV CH, LT CH, EE CH, LV JCH, EE JCH<br><br>Blue, BEL 2005">
                    <div class="inside_first">
                        <p>Eledi Elmo</p>
                    </div>
                </div>
                <div class="first" style="background: none; height:0;">
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/2004')" data-toggle="tooltip" data-html="true" title="<b>VELVET<br>ELEDI GRACE</b><br><br>C.I.B., ESH 2013, CZ CH, BALT W 2012, EE CH, EE JCH, EE W 2012, FI CH, Baltic CH, Baltic JCH<br><br>Fawn, LVA 2009">
                    <div class="inside_first">
                        <p>Velvet</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 list" style="height:15px;">
                <div class="vertical-two" style="margin-left:28.5%"></div>
                <div class="vertical-two" style="margin-left:42.5%"></div>
            </div>

            <div class="col-md-12 list text-center">
                <div class="second-line">
                </div>
                <div class="second-line" style="background: none; border:none; height:0;">
                </div>
                <div class="second-line">
                </div>
            </div>
        </div>

        @*III pozycja*@

        <div class="row">
            <div class="col-md-12 list text-center">
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/1776')" data-toggle="tooltip" data-html="true" title="<b>YEHUDI BLUE<br>DYNASTIE DURRANI</b><br><br>C.I.B., MC CH<br><br>Blue Fawn, Blue Mask, FRA 1999">
                    <div class="inside_first">
                        <p>Yehudi Blue</p>
                    </div>
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/3302')" data-toggle="tooltip" data-html="true" title="<b>CAFE MILANO<br>DEVILS PIGEONS</b><br><br>BEL">
                    <div class="inside_first">
                        <p>Cafe Milano</p>
                    </div>
                </div>
                <div class="first" style="background-image:url('http://getdrawings.com/img/italian-silhouette-22.jpg')" data-toggle="tooltip" data-html="true" title="<b>CALICANTO<br>DOMAINE DE CHANTELOUP</b><br><br>Fawn, FRA 2007">
                    <div class="inside_first">
                        <p>Calicanto</p>
                    </div>
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/1603')" data-toggle="tooltip" data-html="true" title="<b>BLUE ANGEL<br>SOLAR'S</b><br><br>Blue, FIN 2003">
                    <div class="inside_first">
                        <p>Blue Angel</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h2 class="text-center orange"><i class="fa fa-tree"></i></h2>
    <div class="col-lg-12 text-center">
        <a href="https://italiangreyhound.breedarchive.com/animal/view/eledi-grace-iulius-f7b46d31-1696-4cd1-9a85-3776fb6f6e5a" target="_blank">Pełne drzewo genealogiczne <span class="under_flat"> Full family tree</span><br /> www.italiangreyhound.breedarchive.com</a>
    </div>
</div>