@section metatags
{
    <meta property="og:site_name" content="Super charty - Hodowla charcików włoskich i chartów rosyjskich borzoj">
    <meta property="og:title" content="Drzewa genealogiczne psów z hodowli Super Charty">
    <meta property="og:image" content="http://www.supercharty.pl/img/treeShare.png">
    <meta property="og:url" content="http://www.supercharty.pl/Pedigree/Index/">
    <meta property="og:description" content="Zobaczysz tu szczegółowe dane na temat rodowodu psów z hodowli Super Charty.">
    <meta property="og:type" content="website">
    <meta name="robots" content="noodp">
}

<style>
    @@-webkit-keyframes swing {
        15% {
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
        }

        30% {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }

        50% {
            -webkit-transform: translateX(3px);
            transform: translateX(3px);
        }

        65% {
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
        }

        80% {
            -webkit-transform: translateX(2px);
            transform: translateX(2px);
        }

        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    @@keyframes swing {
        15% {
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
        }

        30% {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }

        50% {
            -webkit-transform: translateX(3px);
            transform: translateX(3px);
        }

        65% {
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
        }

        80% {
            -webkit-transform: translateX(2px);
            transform: translateX(2px);
        }

        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    .img-responsive {
        cursor: pointer;
        transition-duration: 1s;
    }

        .img-responsive:hover {
            /*-webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;*/
            transform: rotate(7deg);
            border-radius: 15px;
        }
</style>
<div class="box">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center orange"><i class="fa fa-tree"></i></h1>
            <h4 class="text-center">Drzewa genealogiczne psów<span class="under_flat"> THE FAMILY TREE OF DOGS</span></h4>
            <h5 class="text-center">KLIKNIJ, ABY ZOBACZYĆ WIĘCEJ<span class="under_flat"> CLICK PICTURE FOR DETAILS</span></h5>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center">
            <div id="img_cnt">
                <img alt="" src="/img/dog_photos/Lea/m1.jpg" class="img-responsive" id="dog" onclick="window.location='/Pedigree/Lea'">
            </div>
            <h3>
                Lea<br />
                <small>z Ochoczej</small>
            </h3>
        </div>
        <div class="col-lg-3 text-center">
            <div id="img_cnt">
                <img alt="" src="/img/dog_photos/Mini/m20.jpg" class="img-responsive" id="dog" onclick="window.location='/Pedigree/RacingMini'">
            </div>
            <h3>
                Racing Mini
                <small> Super Charty</small>
            </h3>
        </div>
        <div class="col-lg-3 text-center">
            <div id="img_cnt">
                <img alt="" src="/img/dog_photos/Frups/aniaszkudlarz@gmail.com-8s.jpg" class="img-responsive" id="dog" onclick="window.location = '/Pedigree/OrionsMagnificMarionette'">
            </div>
            <h3>
                <small>Orion's</small>
                Magnific Marionette
            </h3>
        </div>
        <div class="col-lg-3 text-center">
            <div id="img_cnt">
                <img alt="" src="/img/dog_photos/Sugar/aszkudlarz-1.jpg" class="img-responsive" id="dog" onclick="window.location = '/Pedigree/SugarPlumFairy'">
            </div>
            <h3>
                Sugar Plum Fairy
                <small>Super charty</small>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 text-center">
            <div id="img_cnt">
                <img alt="" src="/img/dog_photos/BlackBarakaNamaste/DSC02115.jpg" class="img-responsive" id="dog" onclick="window.location = '/Pedigree/NamasteBlackBaraka'">
            </div>
            <h3>
                Namaste
                <small>Black Baraka</small>
            </h3>
        </div>
        <div class="col-lg-3 text-center">
            <div id="img_cnt">
                <img alt="" src="/img/dog_photos/Iulius/m9.jpg" class="img-responsive" id="dog" onclick="window.location = '/Pedigree/ElediGraceIulius'">
            </div>
            <h3>
                <small>Eledi Grace</small>
                Iulius
            </h3>
        </div>
        <div class="col-lg-3 text-center">
            <div id="img_cnt">
                <img alt="" src="/img/dog_photos/Mati/m32.jpg" class="img-responsive" id="dog" onclick="window.location = '/Pedigree/CyreneSperidesDeSalkinAidan'">
            </div>
            <h3>
                Cyrene'Sperides
                <small> De Salkin Aidan</small>
            </h3>
        </div>

        <div class="col-lg-3 text-center">
            <div id="img_cnt">
                <img alt="" src="/img/dog_photos/PikopsMacchiato/10.jpg" class="img-responsive" id="dog" onclick="window.location = '/Pedigree/PikopsMacchiato'">
            </div>
            <h3>
                Macchiato
                <small> Pikop's</small>
            </h3>
        </div>
    </div>
</div>