<link href="@Url.Content("~/css/pedigreeViews.css")" rel="stylesheet" type="text/css" />

<script>
    $(document).ready(function () {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    });
</script>


@*I pozycja*@

<div class="box">

    <div class="supercharty">

        <div class="row">
            <h4 class="text-center">Drzewo genealogiczne<span class="under_flat"> FAMILY TREE</span></h4>
            <h5 class="text-center">LEA Z OCHOCZEJ</h5>
            <hr />
            <div class="col-md-12 list text-center">
                <div class="first" data-toggle="tooltip" data-html="true" title="<b>LEA<br> Z OCHOCZEJ</b><br><br>PL CH<br>Blue, POL 2012">
                    <div class="inside_first">
                        <p>Lea</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 list text-center">
                <div class="vertical-one"></div>
            </div>
            <div class="col-md-12 list text-center">
                <div class="first-line"></div>
            </div>
        </div>

        @*II pozycja*@

        <div class="row">
            <div class="col-md-12 list text-center">
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/5117')" data-toggle="tooltip" data-html="true" title="<b>LIONEL<br>FERRITE BUGSY</b><br><br>PL JCH, PL CH<br><br>Blue, CZE 2007">
                    <div class="inside_first">
                        <p>Lionel</p>
                    </div>
                </div>
                <div class="first" style="background: none; height:0;">
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/4527')" data-toggle="tooltip" data-html="true" title="<b>KEYSI<br>GORZOWSKA PANORAMA</b><br><br>PL JCH, PL CH<br><br>Blue, CZE 2006">
                    <div class="inside_first">
                        <p>Keysi</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 list" style="height:15px;">
                <div class="vertical-two" style="margin-left:28.5%"></div>
                <div class="vertical-two" style="margin-left:42.5%"></div>
            </div>

            <div class="col-md-12 list text-center">
                <div class="second-line">
                </div>
                <div class="second-line" style="background: none; border:none; height:0;">
                </div>
                <div class="second-line">
                </div>
            </div>
        </div>

        @*III pozycja*@

        <div class="row">
            <div class="col-md-12 list text-center">
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/4224')" data-toggle="tooltip" data-html="true" title="<b>UNFORGETTABLE<br>DOGCASTLE</b><br><br>C.I.B., NORD CH, FI CH, LU CH, LV CH, EE CH, NO W 2000, NO W 2002, NORD W 2002<br><br>Blue, NOR 2006">
                    <div class="inside_first">
                        <p>Unforgettable</p>
                    </div>
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/4538')" data-toggle="tooltip" data-html="true" title="<b>HOLLY<br>DI BRANCO PICOLLO</b><br><br>C.I.B., CZ CH, CZ JCH, MK CH, SK CH, BG CH, BG GR CH<br><br>Blue, CZE 2002">
                    <div class="inside_first">
                        <p>Holly</p>
                    </div>
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/4636')" data-toggle="tooltip" data-html="true" title="<b>VITTORIO<br>VINCI LI SLAVIA</b><br><br>PL CH<br><br>Fawn, POL 2000">
                    <div class="inside_first">
                        <p>Vittorio</p>
                    </div>
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/12135')" data-toggle="tooltip" data-html="true" title="<b>DAISY<br>GORZOWSKA PANORAMA</b><br><br>Blue, POL">
                    <div class="inside_first">
                        <p>Daisy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h2 class="text-center orange"><i class="fa fa-tree"></i></h2>
    <div class="col-lg-12 text-center">
        <a href="https://italiangreyhound.breedarchive.com/animal/view/lea-z-ochoczej-f5b2bce7-1d85-43bf-a922-ce4aa9f7c9dd" target="_blank">Pełne drzewo genealogiczne <span class="under_flat"> Full family tree</span><br /> www.italiangreyhound.breedarchive.com</a>
    </div>
</div>