<link href="@Url.Content("~/css/pedigreeViews.css")" rel="stylesheet" type="text/css" />

<script>
    $(document).ready(function () {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    });
</script>


@*I pozycja*@

<div class="box">

    <div class="supercharty">

        <div class="row">
            <h4 class="text-center">Drzewo genealogiczne<span class="under_flat"> FAMILY TREE</span></h4>
            <h5 class="text-center"><strong>NAMASTE </strong>BLACK BARAKA</h5>
            <hr />
            <div class="col-md-12 list text-center">
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/12748')" data-toggle="tooltip" data-html="true" title="<b>NAMASTE<br>BLACK BARAKA</b><br><br>PL JCH<br>Black, FRA 2017">
                    <div class="inside_first">
                        <p>Namaste</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 list text-center">
                <div class="vertical-one"></div>
            </div>
            <div class="col-md-12 list text-center">
                <div class="first-line"></div>
            </div>
        </div>

        @*II pozycja*@

        <div class="row">
            <div class="col-md-12 list text-center">
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/7091')" data-toggle="tooltip" data-html="true" title="<b>MASTER AND COMMANDER<br>BLACK BARAKA</b><br><br>Blue, FRA 2016">
                    <div class="inside_first">
                        <p>Master And Commander</p>
                    </div>
                </div>
                <div class="first" style="background: none; height:0;">
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/9776')" data-toggle="tooltip" data-html="true" title="<b>GRAINE DE STAR<br>DU MERLE BLANC</b><br><br>Black, FRA 2011">
                    <div class="inside_first">
                        <p>Graine De Star</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 list" style="height:15px;">
                <div class="vertical-two" style="margin-left:28.5%"></div>
                <div class="vertical-two" style="margin-left:42.5%"></div>
            </div>

            <div class="col-md-12 list text-center">
                <div class="second-line">
                </div>
                <div class="second-line" style="background: none; border:none; height:0;">
                </div>
                <div class="second-line">
                </div>
            </div>
        </div>

        @*III pozycja*@

        <div class="row">
            <div class="col-md-12 list text-center">
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/4009')" data-toggle="tooltip" data-html="true" title="<b>NUBIAD<br>VERSACE</b><br><br>C.I.B., MC CH<br><br>Black, FRA 2004">
                    <div class="inside_first">
                        <p>Nubiad</p>
                    </div>
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/10023')" data-toggle="tooltip" data-html="true" title="<b>ISOLENTA<br>DU MERLE BLANC</b><br><br>Black, FRA 2013">
                    <div class="inside_first">
                        <p>Iolenta</p>
                    </div>
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/8405')" data-toggle="tooltip" data-html="true" title="<b>DERNIER CRI<br>DU MERLE BLANC</b><br><br>Black, FRA 2008">
                    <div class="inside_first">
                        <p>Dernier Cri</p>
                    </div>
                </div>
                <div class="first" style="background-image:url('http://getdrawings.com/img/italian-silhouette-22.jpg')" data-toggle="tooltip" data-html="true" title="<b>DANSONS LA CAPUCINE<br>DU MERLE BLANC</b><br><br>Black, FRA 2008">
                    <div class="inside_first">
                        <p>Dansons La Capucine</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h2 class="text-center orange"><i class="fa fa-tree"></i></h2>
    <div class="col-lg-12 text-center">
        <a href="https://italiangreyhound.breedarchive.com/animal/view/black-baraka-namaste-6378fdca-06a4-4ec1-99bd-e8fa692d53a6" target="_blank">Pełne drzewo genealogiczne <span class="under_flat"> Full family tree</span><br /> www.italiangreyhound.breedarchive.com</a>
    </div>
</div>