<link href="@Url.Content("~/css/pedigreeViews.css")" rel="stylesheet" type="text/css" />

<script>
    $(document).ready(function () {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    });
</script>


@*I pozycja*@

<div class="box">

    <div class="supercharty">

        <div class="row">
            <h2 class="text-center orange"><i class="fa fa-tree"></i></h2>
            <h4 class="text-center">Drzewo genealogiczne<span class="under_flat"> FAMILY TREE</span></h4>
            <h5 class="text-center"><strong>MAGNIFIC MARIONETTE </strong>ORION'S</h5>
            <hr />
            <div class="col-md-12 list text-center">
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/12565')" data-toggle="tooltip" data-html="true" title="<b>MAGNIFIC MARIONETTE<br>ORION'S</b><br><br>PL CH<br>Blue, FRA 2016">
                    <div class="inside_first">
                        <p>Magnific Marionette</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 list text-center">
                <div class="vertical-one"></div>
            </div>
            <div class="col-md-12 list text-center">
                <div class="first-line"></div>
            </div>
        </div>

        @*II pozycja*@

        <div class="row">
            <div class="col-md-12 list text-center">
                <div class="first" style="background-image:url('https://www.chiens-de-france.com/photo/eleveurs/109/21619/album/046f32d4-386c-8bc4-254e-29d011097471.jpg')" data-toggle="tooltip" data-html="true" title="<b>HEART N'SOUL<br>ORION</b><br><br>Black, FRA 2012">
                    <div class="inside_first">
                        <p>Heart N' Soul</p>
                    </div>
                </div>
                <div class="first" style="background: none; height:0;">
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/8444')" data-toggle="tooltip" data-html="true" title="<b>FROM PARIS WITH LOVE<br>ORION</b><br><br>Blue, FRA 2010">
                    <div class="inside_first">
                        <p>From Paris With Love</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 list" style="height:15px;">
                <div class="vertical-two" style="margin-left:28.5%"></div>
                <div class="vertical-two" style="margin-left:42.5%"></div>
            </div>

            <div class="col-md-12 list text-center">
                <div class="second-line">
                </div>
                <div class="second-line" style="background: none; border:none; height:0;">
                </div>
                <div class="second-line">
                </div>
            </div>
        </div>

        @*III pozycja*@

        <div class="row">
            <div class="col-md-12 list text-center">
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/8436')" data-toggle="tooltip" data-html="true" title="<b>ESPIRIT<br>ORION'S</b><br><br>Blue, FRA 2009">
                    <div class="inside_first">
                        <p>Espirit</p>
                    </div>
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/8442')" data-toggle="tooltip" data-html="true" title="<b>C'EST UNE HISTORIE<br>DU COEUR DE BOEME</b><br><br>Black, FRA 2007">
                    <div class="inside_first">
                        <p>C'Est Une Histoire</p>
                    </div>
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/1654')" data-toggle="tooltip" data-html="true" title="<b>LIONEL<br>DES PITCHOUN DIABLES</b><br><br>FRA 2006">
                    <div class="inside_first">
                        <p>Balsa</p>
                    </div>
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/1702')" data-toggle="tooltip" data-html="true" title="<b>DANCE SCARLET ROSE<br>ORION'S</b><br><br>Blue, FRA 2008">
                    <div class="inside_first">
                        <p>Dance Scarlet Rose</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h2 class="text-center orange"><i class="fa fa-tree"></i></h2>
    <div class="col-lg-12 text-center">
        <a href="https://italiangreyhound.breedarchive.com/animal/view/orions-magnific-marionette-b0c01102-999f-472b-bf7a-98a6a4cd4340" target="_blank">Pełne drzewo genealogiczne <span class="under_flat"> Full family tree</span><br /> www.italiangreyhound.breedarchive.com</a>
    </div>
</div>