<link href="@Url.Content("~/css/pedigreeViews.css")" rel="stylesheet" type="text/css" />

<script>
    $(document).ready(function () {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    });
</script>


@*I pozycja*@

<div class="box">

    <div class="supercharty">

        <div class="row">
            <h2 class="text-center orange"><i class="fa fa-tree"></i></h2>
            <h4 class="text-center">Drzewo genealogiczne<span class="under_flat"> FAMILY TREE</span></h4>
            <h5 class="text-center"><strong>RACING MINI </strong>SUPER CHARTY</h5>
            <hr />
            <div class="col-md-12 list text-center">
                <div class="first" style="background-image:url('http://supercharty.pl/img/dog_photos/Mini/m5.jpg')" data-toggle="tooltip" data-html="true" title="<b>RACING MINI<br>SUPER CHARTY</b><br><br>PL JCH, PL CH<br>Blue, POL 2014">
                    <div class="inside_first">
                        <p>Racing Mini</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 list text-center">
                <div class="vertical-one"></div>
            </div>
            <div class="col-md-12 list text-center">
                <div class="first-line"></div>
            </div>
        </div>

        @*II pozycja*@

        <div class="row">
            <div class="col-md-12 list text-center">
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/4215')" data-toggle="tooltip" data-html="true" title="<b>ESSERINO<br>ANNAPERLA</b><br><br>C.I.B., C.I.C., C.I.B.P., ECVC 2014, CZ CH, CZ LCCH, CZ JCH, CZ GR CH, CZ Club CH, PL CH, RO CH<br><br>Fawn Blue Mask, CZE 2013">
                    <div class="inside_first">
                        <p>Esserino</p>
                    </div>
                </div>
                <div class="first" style="background: none; height:0;">
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/4633')" data-toggle="tooltip" data-html="true" title="<b>LEA<br>Z OCHOCZEJ</b><br><br>PL JCH, PL CH<br><br>Blue, POL 2012">
                    <div class="inside_first">
                        <p>Lea</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 list" style="height:15px;">
                <div class="vertical-two" style="margin-left:28.5%"></div>
                <div class="vertical-two" style="margin-left:42.5%"></div>
            </div>

            <div class="col-md-12 list text-center">
                <div class="second-line">
                </div>
                <div class="second-line" style="background: none; border:none; height:0;">
                </div>
                <div class="second-line">
                </div>
            </div>
        </div>

        @*III pozycja*@

        <div class="row">
            <div class="col-md-12 list text-center">
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/2294')" data-toggle="tooltip" data-html="true" title="<b>FEEL THE GROOVE<br>FIEFOERNIEK'S</b><br><br>Blue Fawn, NLD 2010">
                    <div class="inside_first">
                        <p>Feel The Groove</p>
                    </div>
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/3757')" data-toggle="tooltip" data-html="true" title="<b>PERLA<br>FERITTE BUGSY</b><br><br>C.I.B.P., C.I.B., CZ CH, CZ JCH, CZ Club CH, CY CH, BG CH, MK CH, MD CH, ME CH<br><br>Blue Fawn, CZE 2008">
                    <div class="inside_first">
                        <p>Perla</p>
                    </div>
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/5117')" data-toggle="tooltip" data-html="true" title="<b>LIONEL<br>FERITTE BUGSY</b><br><br>PL CH, PL CH<br><br>Fawn, POL 2000">
                    <div class="inside_first">
                        <p>Lionel</p>
                    </div>
                </div>
                <div class="first" style="background-image:url('https://italiangreyhound.breedarchive.com/photo/download/4527')" data-toggle="tooltip" data-html="true" title="<b>KEYSI<br>GORZOWSKA PANORAMA</b><br><br>PL JCH, PL CH<br><br>Blue, POL">
                    <div class="inside_first">
                        <p>Keysi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h2 class="text-center orange"><i class="fa fa-tree"></i></h2>
    <div class="col-lg-12 text-center">
        <a href="https://italiangreyhound.breedarchive.com/animal/view/racing-mini-super-charty-5ef9ab66-8398-4596-8600-442a3b9632cf" target="_blank">Pełne drzewo genealogiczne <span class="under_flat"> Full family tree</span><br /> www.italiangreyhound.breedarchive.com</a>
    </div>
</div>