<!-- NEWS LETTER -->
@model devarts.Models.Newsletter
<script>
    $(document).ready(function () {
        $(".fadeShow").fadeIn();
    });
</script>

<style>
    .fadeShow {
        display: none;
    }
</style>

<div class="col-md-12 pb-30 text-center-sm fadeShow">
    <div class="text-center">
        <h4 class="mt-0 mb-5 text-center"><span class="bold">BŁĄD</span></h4>
        <span>Zapisanie się do newslettera nie jest możliwe. Przepraszamy za utrudnienia.</span>
    </div>
</div>