@section metatags
{
    <meta property="og:title" content="Leśna Magia - O rasie">
    <meta property="og:image" content="@System.Web.Configuration.WebConfigurationManager.AppSettings["webDomainName"]/Layout/logo_gold.png">
    <meta property="og:url" content="@System.Web.Configuration.WebConfigurationManager.AppSettings["webDomainName"]/">
    <meta property="og:description" content="Berneński Pies Pasterski - O rasie">
    <meta property="og:type" content="website">
    <meta name="robots" content="noodp">
}

<div class="post-parallax parallax inverse-wrapper parallax2" style="background-image: url(/Layout/1.jpg);">
    <div class="container inner text-center">
        <div class="headline text-center">
            @*<h2>hello! I'm lydia doe, a freelance photographer.</h2>
                <p class="lead">based in london, I specialize in fashion, wedding, food & drink photography.</p>*@
        </div>
        <!-- /.headline -->
    </div>
</div>

<section id="conceptual" class="light-wrapper">
    <div class="container inner">
        <div class="divide50"></div>
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    @if (Request.Browser.IsMobileDevice)
                    {
                        <div class="">
                            <div class="col-lg-12 text-center"> <img alt="" src="~/Layout/logo_black.png" style="width:130px" /> </div>
                            <h1>
                                RASA <small>Berneński Pies Pasterski</small>
                                <br>
                                <small><a href="http://www.zkwp.pl/zg/wzorce/45.pdf">http://www.zkwp.pl/zg/wzorce/45.pdf</a></small>
                            </h1>
                            <br />
                            <h3>POCHODZENIE I POCZĄTKI HODOWLI</h3>
                            <p style="text-align:justify">
                                Berneński Pies Pasterski wywodzi się z centralnej Szwajcarii. Jako towarzysz, pomocnik przy wypasaniu bydła, pies pociągowy i stróżujący zyskał miłość  rolników.<br /><br />
                                Początkowo znany  był  jako Dürrbächler - od miejscowości, w której był hodowany przez tamtejszego  oberżystę.@*<br /><br />*@
                                Pochodzenie tych psów nie jest do końca wyjaśnione - uważano, że przybyły na te tereny z Rzymianami, jednak obecnie przyjmuje się, że wywodzą się raczej od psów żyjących tam "od zawsze".<br /><br />
                                Pracowitość, wierność człowiekowi i harmonijne piękno przyniosły tej rasie ogromny wzrost popularności.
                                Na przełomie XIX i XX wieku wraz z rozwojem nauki kynologicznej rozpoczęto prace nad zachowaniem czystości rasy.<br /><br />
                                Zaczęły powstawać  pierwsze hodowle i rozpoczęto pokazywanie psów tej rasy na wystawach.@*<br /><br />*@
                                W 1907 r., na wniosek profesora  Heima,  klub miłośników rasy określił wzorzec rasy. Przyjęto nazwę Berner Sennenhund- Berneński Pies Pasterski. Ostatecznie oddzielono berneńczyki od bernardynów.<br /><br />
                                W 1913 r. rasa została uznana przez Szwajcarski Związek Kynologiczny.
                                Z czasem hodowle berneńczyków zaczęły powstawać w innych krajach.<br /><br />
                                Do Polski pierwsze berneńczyki trafiły z Czech w latach siedemdziesiątych XX wieku. Pierwszy miot urodził się w 1981 roku.
                                Jednak dopiero berneńczyki sprowadzone w następnych latach z Niemiec miały decydujący  wpływ na rozwój hodowli w Polsce.<br /><br />
                                Ciągle wzrasta popularność tej rasy, co jednocześnie stanowi ogromne wyzwanie dla hodowców i właścicieli, aby kochać je odpowiedzialnie.@*<br /><br />*@
                            </p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="">
                            <h3>CHARAKTER I POTRZEBY</h3>
                            <p style="text-align:justify">
                                Berneńczyk to przede wszystkim pies, który kocha ludzi. Ma łagodny i przyjazny charakter. Jest oddany swojej ludzkiej rodzinie, a kontakt i praca z człowiekiem są dla niego najważniejsze. Jest ostrożny i opiekuńczy w kontaktach z dziećmi i innymi zwierzętami.
                                <br /><br />
                                Nie jest agresywny, ale zdecydowanie ma instynkt stróża - szczekaniem oznajmia o swoim niepokoju. Nie szczeka jednak bez potrzeby i w nadmiarze. Nie powinien żyć w zamkniętym kojcu, nie mówiąc już o łańcuchu.
                                Obcowanie z właścicielem, odpowiednia socjalizacja, udział w życiu codziennym rodziny, także wspólne spacery i treningi, umożliwią naszemu psu zrównoważony rozwój.
                                <br /><br />
                                Dbając o jego wychowanie powinniśmy pamiętać o jego rozmiarach. Słodki szczeniak szybko wyrośnie na dość dużego psa, który nawet niechcący może zrobić komuś krzywdę. W związku z dość szybkim tempem wzrostu berneńczyków należy zastosować się do kilku reguł - nie przekarmiać,
                                dbać o odpowiednią wagę oraz nie forsować fizycznie w okresie wzrostu. Berneńczyk jako szczeniak powinien unikać m.in. częstego chodzenia po schodach czy śliskich powierzchniach, jak również długodystansowych biegów oraz skoków.
                                Przestrzegając tych zasad, zapewnimy naszemu psu optymalne warunki do rozwoju kości i stawów. Jednocześnie musimy pamiętać o odpowiednim wyżywieniu, dostosowanym do potrzeb psów ras dużych/olbrzymich,
                                a także ewentualnie stosowaniu suplementów na stawy lub sierść - w zależności od potrzeb, bądź w oparciu o wyniki badań.
                                <br /><br />
                                Berneńczyk to rasa, która lubi zimę i śnieg; jednak skrajne temperatury zarówno zimą, jak i latem nie wpływają korzystnie na zdrowie psów. Tak więc zimą powinniśmy unikać dużych mrozów i wilgoci, a latem starajmy się zapewnić cień i dostęp do czystej wody.
                                <br /><br />
                                Pielęgnacja sierści berneńczyka nie jest specjalnie trudna, wymaga jednak regularnego wyczesywania podszerstka. W żadnym wypadku nie strzyżemy berneńczyków! Okrywa włosowa to nie tylko ochrona przed zimnem, ale również izolacja przed upałem. Dla wygody i estetyki można jedynie przyciąć nadmiar sierści na łapach lub uszach.
                                <br /><br />
                                Powinniśmy przestrzegać również kilku innych istotnych zasad, które dotyczą nie tylko berneńczyków: pamiętać o regularnym zabezpieczaniu psa od pasożytów wewnętrznych oraz zewnętrznych - kleszczy i pcheł;
                                a także szczepieniach od wścieklizny i chorób zakaźnych. Dodatkowo pamiętajmy, aby nie wychodzić na spacer z naszym psem bezpośrednio przed lub po posiłku, grozi to bowiem skrętem żołądka.
                                <br /><br />
                                Berneńczyk, jak każdy pies, może oczywiście zachorować. Ryzyko chorób można jednak zminimalizować poprzez odpowiedni dobór osobników do rozrodu. Przygotowując psy do hodowli wykonuje się szereg badań, w tym: RTG – bioder, łokci, barków; badania genetyczne: DM- Mielopatia degeneracyjna,
                                choroba von Willebranda typ I (vWD I); test SH – histocytoza złośliwa oraz badania oczu i serca. Niestety nie wszystko można przewidzieć, a natura bywa przewrotna. Mimo ciągłego postępu w medycynie weterynaryjnej różnego rodzaju nowotwory, spondyloza, choroby nerek, a często też choroby odkleszczowe, są przyczyną przedwczesnej śmierci naszych przyjaciół.
                                <br /><br />
                                Powyższe informacje oczywiście nie są wyczerpują tematu opieki i potrzeb berneńczyka. Z chęcią dzielimy się wiedzą i doświadczeniem z właścicielami szczeniąt pochodzących z naszej hodowli.

                            </p>
                            <div class="clearfix"></div>
                        </div>
                    }
                    else
                    {
                        <div class="about-author">
                            <div class="author-image"> <img alt="" src="~/Layout/logo_black.png" style="width:130px" /> </div>
                            <h1>
                                RASA <small>Berneński Pies Pasterski</small>
                                <br>
                                <small><a href="http://www.zkwp.pl/zg/wzorce/45.pdf">http://www.zkwp.pl/zg/wzorce/45.pdf</a></small>
                            </h1>
                            <br />
                            <h3>POCHODZENIE I POCZĄTKI HODOWLI</h3>
                            <p style="text-align:justify">
                                Berneński Pies Pasterski wywodzi się z centralnej Szwajcarii. Jako towarzysz, pomocnik przy wypasaniu bydła, pies pociągowy i stróżujący zyskał miłość  rolników.<br /><br />
                                Początkowo znany  był  jako Dürrbächler - od miejscowości, w której był hodowany przez tamtejszego  oberżystę.@*<br /><br />*@
                                Pochodzenie tych psów nie jest do końca wyjaśnione - uważano, że przybyły na te tereny z Rzymianami, jednak obecnie przyjmuje się, że wywodzą się raczej od psów żyjących tam "od zawsze".<br /><br />
                                Pracowitość, wierność człowiekowi i harmonijne piękno przyniosły tej rasie ogromny wzrost popularności.
                                Na przełomie XIX i XX wieku wraz z rozwojem nauki kynologicznej rozpoczęto prace nad zachowaniem czystości rasy.<br /><br />
                                Zaczęły powstawać  pierwsze hodowle i rozpoczęto pokazywanie psów tej rasy na wystawach.@*<br /><br />*@
                                W 1907 r., na wniosek profesora  Heima,  klub miłośników rasy określił wzorzec rasy. Przyjęto nazwę Berner Sennenhund- Berneński Pies Pasterski. Ostatecznie oddzielono berneńczyki od bernardynów.<br /><br />
                                W 1913 r. rasa została uznana przez Szwajcarski Związek Kynologiczny.
                                Z czasem hodowle berneńczyków zaczęły powstawać w innych krajach.<br /><br />
                                Do Polski pierwsze berneńczyki trafiły z Czech w latach siedemdziesiątych XX wieku. Pierwszy miot urodził się w 1981 roku.
                                Jednak dopiero berneńczyki sprowadzone w następnych latach z Niemiec miały decydujący  wpływ na rozwój hodowli w Polsce.<br /><br />
                                Ciągle wzrasta popularność tej rasy, co jednocześnie stanowi ogromne wyzwanie dla hodowców i właścicieli, aby kochać je odpowiedzialnie.@*<br /><br />*@
                            </p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="about-author">
                            <h3>CHARAKTER I POTRZEBY</h3>
                            <p style="text-align:justify">
                                Berneńczyk to przede wszystkim pies, który kocha ludzi. Ma łagodny i przyjazny charakter. Jest oddany swojej ludzkiej rodzinie, a kontakt i praca z człowiekiem są dla niego najważniejsze. Jest ostrożny i opiekuńczy w kontaktach z dziećmi i innymi zwierzętami.
                                <br /><br />
                                Nie jest agresywny, ale zdecydowanie ma instynkt stróża - szczekaniem oznajmia o swoim niepokoju. Nie szczeka jednak bez potrzeby i w nadmiarze. Nie powinien żyć w zamkniętym kojcu, nie mówiąc już o łańcuchu.
                                Obcowanie z właścicielem, odpowiednia socjalizacja, udział w życiu codziennym rodziny, także wspólne spacery i treningi, umożliwią naszemu psu zrównoważony rozwój.
                                <br /><br />
                                Dbając o jego wychowanie powinniśmy pamiętać o jego rozmiarach. Słodki szczeniak szybko wyrośnie na dość dużego psa, który nawet niechcący może zrobić komuś krzywdę. W związku z dość szybkim tempem wzrostu berneńczyków należy zastosować się do kilku reguł - nie przekarmiać,
                                dbać o odpowiednią wagę oraz nie forsować fizycznie w okresie wzrostu. Berneńczyk jako szczeniak powinien unikać m.in. częstego chodzenia po schodach czy śliskich powierzchniach, jak również długodystansowych biegów oraz skoków.
                                Przestrzegając tych zasad, zapewnimy naszemu psu optymalne warunki do rozwoju kości i stawów. Jednocześnie musimy pamiętać o odpowiednim wyżywieniu, dostosowanym do potrzeb psów ras dużych/olbrzymich,
                                a także ewentualnie stosowaniu suplementów na stawy lub sierść - w zależności od potrzeb, bądź w oparciu o wyniki badań.
                                <br /><br />
                                Berneńczyk to rasa, która lubi zimę i śnieg; jednak skrajne temperatury zarówno zimą, jak i latem nie wpływają korzystnie na zdrowie psów. Tak więc zimą powinniśmy unikać dużych mrozów i wilgoci, a latem starajmy się zapewnić cień i dostęp do czystej wody.
                                <br /><br />
                                Pielęgnacja sierści berneńczyka nie jest specjalnie trudna, wymaga jednak regularnego wyczesywania podszerstka. W żadnym wypadku nie strzyżemy berneńczyków! Okrywa włosowa to nie tylko ochrona przed zimnem, ale również izolacja przed upałem. Dla wygody i estetyki można jedynie przyciąć nadmiar sierści na łapach lub uszach.
                                <br /><br />
                                Powinniśmy przestrzegać również kilku innych istotnych zasad, które dotyczą nie tylko berneńczyków: pamiętać o regularnym zabezpieczaniu psa od pasożytów wewnętrznych oraz zewnętrznych - kleszczy i pcheł;
                                a także szczepieniach od wścieklizny i chorób zakaźnych. Dodatkowo pamiętajmy, aby nie wychodzić na spacer z naszym psem bezpośrednio przed lub po posiłku, grozi to bowiem skrętem żołądka.
                                <br /><br />
                                Berneńczyk, jak każdy pies, może oczywiście zachorować. Ryzyko chorób można jednak zminimalizować poprzez odpowiedni dobór osobników do rozrodu. Przygotowując psy do hodowli wykonuje się szereg badań, w tym: RTG – bioder, łokci, barków; badania genetyczne: DM- Mielopatia degeneracyjna,
                                choroba von Willebranda typ I (vWD I); test SH – histocytoza złośliwa oraz badania oczu i serca. Niestety nie wszystko można przewidzieć, a natura bywa przewrotna. Mimo ciągłego postępu w medycynie weterynaryjnej różnego rodzaju nowotwory, spondyloza, choroby nerek, a często też choroby odkleszczowe, są przyczyną przedwczesnej śmierci naszych przyjaciół.
                                <br /><br />
                                Powyższe informacje oczywiście nie są wyczerpują tematu opieki i potrzeb berneńczyka. Z chęcią dzielimy się wiedzą i doświadczeniem z właścicielami szczeniąt pochodzących z naszej hodowli.

                            </p>
                            <div class="clearfix"></div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="divide20"></div>
        <div class="cbp-panel">

            <!--/.cbp -->

        </div>
        <!--/.cbp-panel -->
    </div>
    <!-- /.container -->
</section>
<!-- /#conceptual -->
