<div class="row">
    <div class="box">
        <div class="col-lg-12">

            <hr>
            <h2 class="text-center orange"><i class="fa fa-2x fa-info-circle"></i></h2>
            <h2 class="intro-text text-center">
                Super Charty <strong>FAQ</strong>
                <span class="under">
                    Frequency Asked Questions
                </span>
            </h2>
            <hr>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <div class="panel-group" id="collapse" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapse-heading-one">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                                1.	Odpowiedzialny wybór rasy
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapse-heading-one">
                        <div class="panel-body">
                            <p>
                                Jeśli zdecydowaliśmy się na zakup szczenięcia rasowego, w pierwszej kolejności zastanawiamy się nad wyborem rasy.
                                Zwykle jest tak, że mamy już ustabilizowane preferencje co do wyglądu czy użytkowości danej rasy a często już jesteśmy nastawieni psychicznie na konkretną rasę psa.
                                Niestety często ludzie kierują się modą, czy wyglądem pieska, nie zapoznając się wcześniej z charakterystyką danej rasy, co może skutkować późniejszymi problemami, frustracją a nawet oddaniem psa.
                                Dlatego zanim kupimy psa, warto poczytać o charakterze, temperamencie i przeznaczeniu danej rasy, pójść na kilka wystaw psów rasowych, aby dokładniej się przyjrzeć danym osobnikom w rasie, porozmawiać z różnymi hodowcami,
                                właścicielami a nawet odwiedzić kilka hodowli.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapse-heading-two">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                                2.	Jakich odpowiedzi należy udzielić hodowcy
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-two">
                        <div class="panel-body">
                            <p>
                                Odpowiedzialny i dobry hodowca będzie robił wszystko, aby oddać szczenięta tylko do najlepszych domów, gdzie przyszły właściciel będzie opiekował się nim, jak członkiem swojej rodziny. Dlatego zanim zadamy pytanie o cenę szczenięcia,
                                dobrze by było opowiedzieć więcej o sobie oraz odpowiedzieć na pytania, takie jak:
                            </p>
                            <br /><br />
                            <div class="text-center">
                                <p>
                                    - Dlaczego wybrałeś daną rasę?<br />
                                    - Czy masz już doświadczenie z innymi psami?<br />
                                    - Czy mieszkasz w mieszkaniu czy domu?<br />
                                    - Czy posiadasz ogrodzoną przestrzeń do wybiegu dla psa oraz bezpieczne miejsca, gdzie możesz z nim chodzić na spacery?<br />
                                    - Jaki jest system pracy w domu i jak długo w ciągu dnia pies będzie sam?<br />
                                    - Jaki masz plan na wychowanie psa? Dodatkowy urlop w okresie szczenięcym? Psie przedszkole? Socjalizacja z innymi psami?<br />
                                    - Czym zamierzasz żywić psa, czy zapoznałeś się z zalecanym karmieniem danej rasy?<br />
                                    - Czy posiadasz inne zwierzęta? Jakie? Czy w domu są małe dzieci?<br />
                                    - Czy poszukujesz psa tylko dla towarzystwa czy może dodatkowo do hodowli/na wystawy, czy może do sportu?<br />
                                    - Czy orientujesz się jakie są najczęstsze problemy/ predyspozycje rasowe do chorób w danej rasie?<br />
                                    <br /><br />
                                    I tym podobne pytania.
                                </p>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapse-heading-three">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-three" aria-expanded="false" aria-controls="collapse-three">
                                3. Koszt szczenięcia
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-three">
                        <div class="panel-body">
                            <p>
                                Cena szczenięcia może się różnić w różnych hodowlach a nawet w obrębie jednej hodowli i zwykle ma konkretne uzasadnienia.
                                Wpływ na cenę mają między innymi: warunki w jakich szczenięta dojrzewają, jakość pożywienia, odbyte szkolenia, takie jak psie przedszkole, pochodzenie psa, status zdrowotny (min. przeprowadzone badania genetyczne i inne),
                                przeznaczenie psa i jego predyspozycje ku temu (do towarzystwa czy do hodowli/ na wystawy, do sportu)  itp. Wyhodowanie pięknego przedstawiciela rasy o dobrym temperamencie, zrównoważonej psychice i wspaniałej kondycji
                                to spore nakłady czasu oraz pieniędzy dla hodowcy. Dlatego tez cena w przypadku psów, często tak jak w przypadku innych rzeczy, ma związek z jakością.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapse-heading-four">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-four" aria-expanded="false" aria-controls="collapse-four">
                                4. W jakim wieku można odebrać szczenię?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-four">
                        <div class="panel-body">
                            <p>
                                Idealny czas na odbiór szczeniąt to wiek ok. 8-10 tygodni, co ma związek z okresem socjalizacji.
                                Szczenię odebrane zbyt wcześnie od hodowcy, może mieć w przyszłości problemy z psychiką takie jak lękliwość, nadmierne pobudzenie, brak kontroli nad zachowaniem a nawet problemy zdrowotne związane ze zbyt wczesnym odebraniem
                                od suki i zbyt gwałtownym przejściem z mleka na pokarm stały. Dlatego w naszej hodowli oddajemy szczenięta tylko w odpowiednim wieku, które są już ustabilizowane emocjonalnie i dobrze odchowane wraz z matką i swoim stadem.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapse-heading-five">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-five" aria-expanded="false" aria-controls="collapse-five">
                                5. Wyjazd ze szczenięciem za granicę - regulacje prawne
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-five" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-five">
                        <div class="panel-body">
                            <p>
                                Jeśli chcesz przewieźć szczenię za granicę, muszą zostać spełnione określone przepisy urzędowe w zależności od kraju, takie jak:
                                <br /><br />
                                - szczepienie przeciwko wściekliźnie<br />
                                Aby pies mógł zostać przewieziony do innego kraju, musi posiadać ważne szczepienie przeciwko wściekliźnie. Szczenię pierwszy raz może zostać zaszczepione najwcześniej w wieku 12 tygodni i dopiero po upływie 21 dni od daty szczepienia może przekroczyć granicę, także jest to zwykle wiek ok. 4 miesięcy. Niektóre kraje, takie jak USA wymagają okresu karencji 30 dni.
                                <br /><br />
                                -paszport<br />
                                Większość krajów Unii Europejskiej wymaga ważnego paszportu do przemieszczenia psów.
                                Paszport wystawia lekarz weterynarii i w paszporcie tym musi być wpis ze szczepieniem przeciwko wściekliźnie wykonanym przynajmniej 21 dni przed przekroczeniem granicy. Niektóre kraje wymagają również wpisu  o odrobaczeniu psa oraz badaniu klinicznym odbytym w określonym czasie przed przekroczeniem granicy.
                                <br /><br />
                                - list przewozowy<br />
                                Niektóre kraje, takie jak USA nie wymagają paszportu tylko specjalny list przewozowy wystawiony przez urzędowego lekarza weterynarii, w Powiatowym Inspektoracie Weterynarii.<br /><br />
                                - microchip<br />
                                Większość hodowców FCI posiada już zachipowane szczenięta, ale Ci, którzy tatuują psy, będą potrzebowali dodatkowej identyfikacji jaką jest microchip aby przygotować psa do wywozu za granicę. Microchip to najskuteczniejsza metoda identyfikacji zwierzęcia, dlatego też jest metodą z wyboru obowiązującą we wszystkich krajach przy przemieszczaniu. Aby wystawić paszport lub list przewozowy microchip będzie niezbędny.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapse-heading-six">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-six" aria-expanded="false" aria-controls="collapse-six">
                                6. Dokumenty
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-six" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-six">
                        <div class="panel-body">
                            <p>
                                Szczenięta z naszej hodowli posiadają metryki, które są dokumentem upoważniającym do wyrobienia  rodowodu.
                                Z wyprawką dostaniemy również książeczki zdrowia z niezbędnymi zabiegami weterynaryjnymi takimi jak odrobaczenie, szczepienia itd.lub/i paszport.
                                Przed zakupem szczenięcia wymagamy również podpisania odpowiedniej umowy.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapse-heading-seven">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-seven" aria-expanded="false" aria-controls="collapse-seven">
                                7. Wyprawka
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-seven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-seven">
                        <div class="panel-body">
                            <p>
                                Wszystkie szczenięta z naszej hodowli zostają zaopatrzone w wyprawkę.
                                Jest to dla nas bardzo ważna rzecz, gdyż mamy pewność, że przyszłemu właścicielowi niczego nie zabraknie z niezbędnych rzeczy, i nie będzie musiał się stresować zakupami w pierwszych dniach po zakupie pieska.
                                Dodatkowo zależy nam, aby szczenię opuszczając matkę oraz swój dotychczasowy dom, miał w nowym miejscu coś swojego o znanym zapachu, np. ulubione zabawki, kocyk.
                                W skład wyprawki oprócz niezbędnych dokumentów wchodzą : obroża hand made, specjalna dla chartów, zabawki, posłanie lub kocyk, karma jaką dotychczas szczenię jadło, specjalne nożyczki do pazurków, itp.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapse-heading-eight">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-eight" aria-expanded="false" aria-controls="collapse-eight">
                                8. Wybór szczenięcia
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-eight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-eight">
                        <div class="panel-body">
                            <p>
                                Zazwyczaj jest tak, że hodowca otrzymuje telefon z pytaniem o konkretną płeć i umaszczenie. Nie ma w tym nic złego, że ludzie mają już swoje preferencje kolorystyczne, ale zanim kupisz psa kierując się tylko tymi wyznacznikami,
                                popytaj proszę o jego temperament, poziom energii, psychikę itd. W naszej hodowli zawsze pomagamy dobrać odpowiednie szczenię pod kątem oczekiwań właściciela, gdyż w obrębie jednej rasy, nie wszystkie osobniki będą się zachowywały tak samo.
                                Niektóre mogą być chodzącymi wulkanami energii i wymagać sporej dawki ruchu, inne zaś mogą być typem leniuchów i przylep, dla których najważniejsza będzie bliskość z właścicielem i wygrzewanie się pod kocem (choć w przypadku chartów raczej rzadko się to zdarza).
                                Są też typy kochające wszystkich ludzi i dzieci a są indywidualiści, którzy chodzą trochę jak koty- swoimi ścieżkami i najbardziej kochają tylko jednego „pana”.
                                Takich przykładów jest mnóstwo, dlatego najważniejszymi rzeczami, którymi powinniśmy się kierować jest nie kolor czy płeć, ale charakter i temperament, bo jednak z tym pieskiem spędzimy kolejne kilkanaście lat życia.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapse-heading-nine">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-nine" aria-expanded="false" aria-controls="collapse-nine">
                                9. Pies czy suczka?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-nine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-nine">
                        <div class="panel-body">
                            <p>
                                Zazwyczaj jest tak, że hodowca otrzymuje telefon z pytaniem o konkretną płeć i umaszczenie. Nie ma w tym nic złego, że ludzie mają już swoje preferencje kolorystyczne, ale zanim kupisz psa kierując się tylko tymi wyznacznikami,
                                popytaj proszę o jego temperament, poziom energii, psychikę itd. W naszej hodowli zawsze pomagamy dobrać odpowiednie szczenię pod kątem oczekiwań właściciela, gdyż w obrębie jednej rasy, nie wszystkie osobniki będą się zachowywały tak samo.
                                Niektóre mogą być chodzącymi wulkanami energii i wymagać sporej dawki ruchu, inne zaś mogą być typem leniuchów i przylep, dla których najważniejsza będzie bliskość z właścicielem i wygrzewanie się pod kocem (choć w przypadku chartów raczej rzadko się to zdarza).
                                Są też typy kochające wszystkich ludzi i dzieci a są indywidualiści, którzy chodzą trochę jak koty- swoimi ścieżkami i najbardziej kochają tylko jednego „pana”.
                                Takich przykładów jest mnóstwo, dlatego najważniejszymi rzeczami, którymi powinniśmy się kierować jest nie kolor czy płeć, ale charakter i temperament, bo jednak z tym pieskiem spędzimy kolejne kilkanaście lat życia.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapse-heading-teen">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-teen" aria-expanded="false" aria-controls="collapse-teen">
                                10. Wzrost Charcika
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-teen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-teen">
                        <div class="panel-body">
                            <p>
                                Jednym z najczęstszych pytań przyszłych właścicieli jest wzrost rodziców miotu oraz spodziewany wzrost szczeniąt.
                                Pamiętajmy, że wzrost szczeniąt nie zależy tylko od wzrostu rodziców. Genetyka jest dużo bardziej skomplikowana i gdyby tylko wzrost rodziców wpływał na wielkość szczeniąt, to w drodze szybkiej selekcji wszystkie charciki miałyby ten sam, najbardziej pożądany wzrost.
                                To jest oczywiście niemożliwe. Wzrost zależy od wielu czynników, i bardziej od przodków w danej linii niż samych rodziców.
                                Wiadomym jest, że najczęściej są zapytania o te najmniejsze charciki. Ludzie kochają miniaturyzację i fakt, że pies mieści się w przysłowiowej torebce.
                                Ale hodowla selekcjonująca na miniaturyzację to pierwszy stopień do degeneracji rasy, która już miała miejsce w historii charcika i ledwo udało się ją uratować krzyżując charciki z większymi rasami takimi jak whippet.
                                W wyniku zbytniej miniaturyzacji ujawnia się w rasie bardzo wiele wad oraz schorzeń. Dlatego rozważni hodowcy utrzymują wzrost charcików w pewnych normach, zalecanych przez wzorzec FCI często krzyżując te mniejsze charciki,
                                o delikatniejszej budowie z większymi, mocniejszymi charcikami, aby nie dopuścić do degeneracji rasy. Zwykle hodowca jest w stanie przewidzieć przyszły wzrost szczeniąt ze swojej hodowli, przynajmniej w przybliżeniu.
                                Ocenia się go śledząc wagę oraz mierząc szczenięta na poszczególnych etapach ich życia, oraz patrząc na wielkość głowy, uszu, łap. Szczenięta pochodzące z różnych hodowli mogą rosnąć do 6 ale nawet 12 miesiąca życia, w zależności od danej linii hodowlanej.
                                Zwykle w wieku 8 miesięcy jest już ustabilizowany wzrost i później następują już tylko „kosmetyczne” zmiany mierzone w milimetrach. Wzrost charcika wg wzorca FCI to zakres pomiędzy 32 a 38 cm. Przy czym moim zdaniem, do celów sportowych powinniśmy szukać charcika
                                przynajmniej powyżej 34 cm. Oprócz wzrostu liczy się także budowa ciała, gdyż możemy spotkać bardzo mocne, zdrowe charciki o wzroście 32 cm ale też rachityczne, o słabej kości w tym rozmiarze, i te drugie mogą mieć spore predyspozycje do złamań i raczej nie nadają się na suczki hodowlane.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

