@section metatags
{
    <meta property="og:title" content="Moje filmy i nie tylko">
    <meta property="og:image" content="http://www.supercharty.pl/Images/videos.png">
    <meta property="og:image:width" content="1272" />
    <meta property="og:image:height" content="659" />
    <meta property="og:url" content="http://www.supercharty.pl/Home/Videos">
    <meta property="og:description" content="Tu znajdują się filmy z treningów, filmy promujące ten projekt i wiele wiele innych.">
    <meta property="og:type" content="article">
    <meta name="robots" content="noodp">
}

<style>
    .containeer {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        box-shadow: 0px 0px 6px 2px;
    }

    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="text-center orange"><i class="fa fa-film"></i><i class="fa fa-2x fa-film"></i><i class="fa fa-3x fa-film"></i></h2>
                <h2 class="intro-text text-center">
                    Super Charty <strong>Filmoteka</strong>
                </h2>
                <hr>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <h4 class="orange"><small><b> 15.02.2019</b> </small><br />Ultramagnetic Touch Super Charty</h4>
                <p class="article orange">
                    Tak Maniek (nie) radzi sobie <b>ze śniegiem</b>
                    <hr />
                </p>
            </div>
            <div class="col-lg-4">                
                <div class="containeer">
                    <iframe src="https://www.youtube.com/embed/Cdxn3FqRVuM" frameborder="0" allowfullscreen class="video"></iframe>
                </div>
            </div>
            <div class="col-lg-4">                
                <div class="containeer">
                    <iframe src="https://www.youtube.com/embed/oKDx73MpQ-Q" frameborder="0" allowfullscreen class="video"></iframe>
                </div>
            </div>
            <div class="col-lg-4">            
                <div class="containeer">
                    <iframe src="https://www.youtube.com/embed/bpWeOSgcWaY" frameborder="0" allowfullscreen class="video"></iframe>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="col-lg-6">
                <div class="text-center">
                    <h4 class="orange"><small><b> 09.08.2017</b> </small><br />Trening Coursingowy</h4>
                    <p class="article orange">
                        Trening coursingowy <b>Super Chartów</b>
                        <hr />
                    </p>
                </div>
                <div class="containeer">
                    <iframe src="https://www.youtube.com/embed/a_AvsMSYarY" frameborder="0" allowfullscreen class="video"></iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text-center">
                    <h4 class="orange"><small><b> 22.01.2017</b> </small><br />Sherlock Holmes</h4>
                    <p class="article orange">
                        Italian Greyhound Puppy - <b>Scherlock Holmes</b>
                        <hr />
                    </p>
                </div>
                <div class="containeer">
                    <iframe src="https://www.youtube.com/embed/QDBar8Qo4UY" frameborder="0" allowfullscreen class="video"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>