@section metatags
{
    <meta property="og:title" content="Leśna Magia - Mioty">
    <meta property="og:image" content="@System.Web.Configuration.WebConfigurationManager.AppSettings["webDomainName"]/Layout/logo_gold.png">
    <meta property="og:url" content="@System.Web.Configuration.WebConfigurationManager.AppSettings["webDomainName"]/">
    <meta property="og:description" content="Mioty hodowli Leśna Magia">
    <meta property="og:type" content="website">
    <meta name="robots" content="noodp">
}

<section class="content background-grey">
    <div class="container">
        <div class="belagio_container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="title text-center">
                        <hr class="hr-text" data-content=" SZCZENIĘTA \ Puppies ">
                        <p style="color:white">Zakup szczeniaka z hodowli Belagio</p>
                        <p style="text-align:justify; color:white">
                            Jeśli podobają ci się Hiszpańskie psy dowodne i chciałbyś aby szczenię tej rasy stało się członkiem twojej rodziny, zapraszamy do kontaktu. Zanim jednak podejmiesz ostateczną decyzję o zakupie szczenięcia, zależy nam na tym, aby twój wybór był świadomy i dobrze przemyślany. Hiszpanki to psy posiadające określoną specyfikę i trzeba znać zarówno ich zalety jak również wady, ponieważ decyzja o zakupie Hiszpana będzie mieć swoje konsekwencje przez najbliższe kilkanaście lat twojego życia. A przecież najważniejsze jest to, żeby pies który stanie się nowym członkiem twojej rodziny był jej kompanem oraz towarzyszem, który każdego dnia będzie wnosił do waszego życia radość i szczęście. Dlatego też trzeba zdecydować się na rasę, której charakter i użytkowanie będzie kompatybilne z twoim stylem życia oraz oczekiwaniami. W celu bliższego poznania rasy zalecamy lekturę artykułów znajdujących się na naszym blogu czy innych stronach internetowych, bezpośredni kontakt z nami lub spotkanie się z pieskami tej rasy w terenie.
                            Każde szczenię opuszczając naszą hodowlę będzie:
                            zaszczepione oraz odrobaczone zgodnie z kalendarzem szczepień oraz stosownie do swojego wieku, czego potwierdzeniem będzie wydana wraz ze szczenięciem książeczka zdrowia lub paszport,
                            oznakowane mikrochipem,
                            posiadało metrykę wydaną przez Związek Kynologiczny w Polsce, na podstawie której można wyrobić rodowód ZKwP/FCI,
                            posiadało rodziców przebadanych pod kątem chorób trapiących rasę (dysplazja stawów biodrowych i łokciowych, badanie oczu, pakiet badań chorób genetycznych Laboklin). Wyniki tychże badań potwierdzone są certyfikatami dostępnymi do wglądu w hodowli,
                            odchowane w warunkach domowych i socjalizowane z ludźmi oraz innymi psami,
                            przygotowane do dalszej socjalizacji szczenięcej,
                            wydane wraz z umową zakupu-sprzedaży,
                            posiadało wyprawkę.
                            Jeżeli jesteś zainteresowany zakupem szczeniaka z naszej hodowli zachęcamy do skorzystania z  <a href="@Url.Action("CreateReservation", "Home")">formularza rezerwacji</a> lub kontaktu poprzez e-mail: belagiospanishwaterdogs@gmail.com
                        </p>
                        <br />
                        <br />
                        <p style="color:white">Buying a puppy from Belagio</p>

                        <p style="text-align: justify; color: white">
                            If you like Spanish Water Dogs and would like a puppy of this breed to become a member of your family, please contact us. However, before you make the final decision of buying a puppy, we want your choice to be conscious and well thought out. SWDs are dogs with specific personalities and you need to know both their pros and cons, because the decision of buying a SWD will have its consequences for the next several years of your life. And yet the most important thing is that the dog that will become a new member of your family is a friend of yours who will bring joy and happiness to your life every day. Therefore, you need to choose a breed whose character will be compatible with both your lifestyle and expectations. In order to get to know the breed better, we recommend reading the articles on our blog or other websites, contacting us directly or meeting the dogs of this breed.
                            Each puppy leaving our kennel will:
                            be vaccinated and dewormed in accordance to the vaccination calendar and according to its age, which will be confirmed by a pet passport issued with the puppy,
                            be marked with a microchip,
                            have a FCI pedigree
                            have parents tested for diseases affecting the breed (hip and elbow dysplasia, eye examination, Laboklin genetic diseases testing package). The results of these tests are confirmed by certificates available to look while picking up the puppy,
                            be raised in domestic conditions and socialized with people and other dogs,
                            be prepared for further puppy socialization,
                            be sold with a purchase-sale agreement.
                            If you are interested in buying a puppy from our kennel, please use the <a href="@Url.Action("CreateReservation", "Home")">reservation form</a> or contact us via e-mail: belagiospanishwaterdogs@gmail.com
                        </p>
                        <hr />
                    </div>
                </div>

                <div class="col-lg-12">

                </div>
            </div>
        </div>
    </div>
</section>