<section class="content background-grey">
    <div class="container">
        <div class="belagio_container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title text-center">
                        <hr class="hr-text" data-content=" Miot A ">
                    </div>
                </div>

                <div class="col-lg-4">
                    <img src="~/Web/images/belagio/JO1_9814 (3).jpg" style="width:100%;" />
                </div>
                <div class="col-lg-8">
                    <br />
                    <h3><b>Aston </b><i class="fa fa-heart"></i> 25.06.2020</h3>
                    <h5><b>Miot A</b></h5>
                    <h5>Ojciec: <b>ZORAZZO Father</b></h5>
                    <h5>Matka:  <b>ZORAZZO The Best Mather</b></h5>
                    <br />
                    <p class="silver"><b>Aston</b> o super samczyk. Jest ciekawski i zywiołowy, a jednocześnie bardzo inteligentny i opanowany.</p>
                </div>                
            </div>


            <div class="col-lg-12">
                <div class="title text-center">
                    <hr class="hr-text" data-content=" Pozostałe szczenięta z miotu ">
                </div>
            </div>

            <div class="col-lg-12">
                <section id="page-content" class="belagio-gallery">
                    <div class="container">
                        <div class="grid-layout grid-4-columns" data-margin="20" data-item="grid-item" data-lightbox="gallery">
                            <div class="grid-item">
                                <p class="silver"><i class="fa fa-mars"></i> Aster</p>
                                <a class="image-hover-zoom" href="#" data-lightbox="gallery-image">
                                    <img src="~/Web/images/belagio/JO1_9814 (3).jpg">
                                </a>
                            </div>
                            <div class="grid-item">
                                <p class="silver"><i class="fa fa-mars"></i> Artom</p>
                                <a class="image-hover-zoom" href="~/Web/images/belagio/JO1_9814 (3).jpg" data-lightbox="gallery-image">
                                    <img src="~/Web/images/belagio/JO1_9814 (3).jpg">
                                </a>
                            </div>
                            <div class="grid-item">
                                <p class="silver"><i class="fa fa-venus"></i> Assia</p>
                                <a class="image-hover-zoom" href="~/Web/images/belagio/JO1_9814 (3).jpg" data-lightbox="gallery-image">
                                    <img src="~/Web/images/belagio/JO1_9814 (3).jpg">
                                </a>
                            </div>
                            <div class="grid-item">
                                <p class="silver"><i class="fa fa-venus"></i> Alona</p>
                                <a class="image-hover-zoom" href="~/Web/images/belagio/JO1_9814 (3).jpg" data-lightbox="gallery-image">
                                    <img src="~/Web/images/belagio/JO1_9814 (3).jpg">
                                </a>
                            </div>
                            <div class="grid-item">
                                <p class="silver"><i class="fa fa-venus"></i> Aldera</p>
                                <a class="image-hover-zoom" href="~/Web/images/belagio/JO1_9814 (3).jpg" data-lightbox="gallery-image">
                                    <img src="~/Web/images/belagio/JO1_9814 (3).jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>
</section>

