@section metatags
{
    <meta property="og:title" content="Super Charty - Formularz rezerwacji">
    <meta property="og:image" content="@System.Web.Configuration.WebConfigurationManager.AppSettings["webDomainName"]/img/www2.png">
    <meta property="og:url" content="@System.Web.Configuration.WebConfigurationManager.AppSettings["webDomainName"]/">
    <meta property="og:description" content="Formularz rezerwacji">
    <meta property="og:type" content="website">
    <meta name="robots" content="noodp">
}

<section class="content background-grey">
    <div class="container">
        <div class="belagio_container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title text-center">
                        <hr class="hr-text" data-content=" Sukces \ Success ">
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <h4>Rezerwacja dostarczona.<br /><small>Rezerwacja została do nas dostarczona.</small></h4>
                    <br />
                    <h4>Thank you for your reservation.<br /><small>The reservation has been delivered to us.</small></h4>
                </div>
            </div>
        </div>
    </div>
</section>
