
@*<style type="text/css">
    #wrapper {
        position: relative;
    }

    .family-tree {
        position: relative;
        margin-left: 250px;
    }

        .family-tree:before {
            content: "";
            width: 50px;
            border-top: 2px solid #fff;
            position: absolute;
            left: -100px;
            top: 50%;
            margin-top: 1px;
        }

    .entry {
        position: relative;
        min-height: 60px;
    }

        .entry:before {
            content: "";
            height: 100%;
            border-left: 2px solid #fff;
            position: absolute;
            left: -50px;
        }

        .entry:after {
            content: "";
            width: 50px;
            border-top: 2px solid #fff;
            position: absolute;
            left: -50px;
            top: 50%;
            margin-top: 1px;
        }

        .entry:first-child:before {
            width: 10px;
            height: 50%;
            top: 50%;
            margin-top: 2px;
            border-radius: 1px 0 0 0;
        }

        .entry:first-child:after {
            height: 10px;
            border-radius: 1px 0 0 0;
        }

        .entry:last-child:before {
            width: 10px;
            height: 50%;
            border-radius: 0 0 0 1px;
        }

        .entry:last-child:after {
            height: 10px;
            border-top: none;
            border-bottom: 2px solid #fff;
            border-radius: 0 0 0 1px;
            margin-top: -9px;
        }

        .entry.sole:before {
            display: none;
        }

        .entry.sole:after {
            width: 50px;
            height: 0;
            margin-top: 1px;
            border-radius: 0;
        }

    .label {
        display: block;
        min-width: 150px;
        max-width: 150px;
        padding: 5px 10px;
        line-height: 20px;
        text-align: center;
        border: 2px solid #545454;
        border-radius: 2px;
        background: #2e2d2d;
        position: absolute;
        left: 0;
        top: 50%;
        font-size: 10px;
        margin-top: -27px;
        color: #FFF;
    }

        .label:hover, .label a:hover {
            color: #FFF !important;
            background: #080808;
        }
</style>*@

@*<script>
    $(document).ready(function () {
        $('.tool_tip')
            .attr('data-toggle', 'tooltip')
            .attr('data-placement', 'top')
            .tooltip({
                trigger: 'manual'
            })
            .tooltip('show');
    });    
</script>*@

<section class="content background-grey">
    <div class="container">
        <div class="belagio_container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title text-center">
                        <hr class="hr-text" data-content=" Drzewo genealogiczne ">
                    </div>

                    <div id="wrapper">
                        <a href="http://www.freetimelearning.com/" class="label" target="_blank"><span class="tool_tip" data-toggle="tooltip" data-html="true" title="<br><img src='https://italiangreyhound.breedarchive.com/resource/1/311/photo.bd871682d7d3bc81_s.jpg'><br><b>WCA, BMX, BMW<br>22.08.2018<br></b>The best animal from dogs world...<br>">CH PL<br />Zorazzo Let The Dice Roll For Belagio FROM POLAND</span></a>
                        <div class="family-tree">
                            <div class="entry">
                                <a href="http://www.freetimelearning.com/html5-tutorial.php" class="label" target="_blank"><span>HTMl5</span></a>
                                <span class="label">CH PL<br />Zarazzo Father By FACIO</span>
                                <div class="family-tree">
                                    <div class="entry">
                                        <a href="http://www.freetimelearning.com/php-projects.php" class="label" target="_blank"><span>PHP</span></a>
                                        <a href="http://www.freetimelearning.com/html5-tutorial.php" class="label" target="_blank"><span>HTMl5</span></a>
                                        <span class="label">CH PL<br />Zarazzo Grandpa By DAD</span>
                                        <div class="family-tree">
                                            <div class="entry"><a href="http://www.freetimelearning.com/php-projects.php" class="label" target="_blank"><span data-toggle="tooltip" data-html="true" title="<br><img src='https://italiangreyhound.breedarchive.com/resource/1/311/photo.bd871682d7d3bc81_s.jpg'><br><b>WCA, BMX, BMW<br>22.08.2018<br></b>The best animal from dogs world...<br>">Belagio Grandpa GRAND from Nederland</span></a></div>

                                            <div class="entry"><a href="http://www.freetimelearning.com/php-projects.php" class="label" target="_blank"><span>Belagio Grandmother GRAND from Nederland</span></a></div>
                                        </div>
                                    </div>

                                    <div class="entry">
                                        <a href="http://www.freetimelearning.com/" class="label" target="_blank"><span>Java</span></a>
                                        <a href="http://www.freetimelearning.com/html5-tutorial.php" class="label" target="_blank"><span>HTMl5</span></a>
                                        <span class="label">CH PL<br />Zarazzo Grandmother By MAMMI</span>
                                        <div class="family-tree">
                                            <div class="entry"><a href="http://www.freetimelearning.com/php-projects.php" class="label" target="_blank"><span data-toggle="tooltip" data-html="true" title="<br><img src='https://italiangreyhound.breedarchive.com/resource/1/311/photo.bd871682d7d3bc81_s.jpg'><br><b>WCA, BMX, BMW<br>22.08.2018<br></b>The best animal from dogs world...<br>">Belagio Grandpa GRAND from Italy</span></a></div>

                                            <div class="entry"><a href="http://www.freetimelearning.com/php-projects.php" class="label" target="_blank"><span>Belagio Grandmother GRAND from Italy</span></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="entry">
                                <a href="http://www.freetimelearning.com/html5-tutorial.php" class="label" target="_blank"><span>HTMl5</span></a>
                                <span class="label">CH PL<br />Zarazzo Mother By MAMMI</span>
                                <div class="family-tree">
                                    <div class="entry">
                                        <a href="http://www.freetimelearning.com/php-projects.php" class="label" target="_blank"><span>PHP</span></a>
                                        <a href="http://www.freetimelearning.com/html5-tutorial.php" class="label" target="_blank"><span>HTMl5</span></a>
                                        <span class="label">CH PL<br />Zarazzo Grandpa By BEST DAD</span>
                                        <div class="family-tree">
                                            <div class="entry"><a href="http://www.freetimelearning.com/php-projects.php" class="label" target="_blank"><span>Belagio Grandpa GRAND from Poland</span></a></div>

                                            <div class="entry"><a href="http://www.freetimelearning.com/php-projects.php" class="label" target="_blank"><span>Belagio Grandmother GRAND from Poland</span></a></div>
                                        </div>
                                    </div>

                                    <div class="entry">
                                        <a href="http://www.freetimelearning.com/" class="label" target="_blank"><span>Java</span></a>
                                        <a href="http://www.freetimelearning.com/html5-tutorial.php" class="label" target="_blank"><span>HTMl5</span></a>
                                        <span class="label">CH PL<br />Zarazzo Grandmother By BEST MOM</span>
                                        <div class="family-tree">

                                            <div class="entry"><a href="http://www.freetimelearning.com/php-projects.php" class="label" target="_blank"><span>Belagio Grandpa GRAND from Spain</span></a></div>

                                            <div class="entry"><a href="http://www.freetimelearning.com/php-projects.php" class="label" target="_blank"><span>Belagio Grandmother GRAND from Spain</span></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
