<div class="post-parallax parallax inverse-wrapper parallax2" style="background-image: url(/Layout/1.jpg);">
    <div class="container inner text-center">
        <div class="headline text-center">
            @*<h2>hello! I'm lydia doe, a freelance photographer.</h2>
                <p class="lead">based in london, I specialize in fashion, wedding, food & drink photography.</p>*@
        </div>
        <!-- /.headline -->
    </div>
</div>

<div class="dark-wrapper">
    <div class="container inner2">
        <div class="blog row">
            <div class="col-sm-12 blog-content text-center">
                <h2>Błąd<small> Error 500</small></h2>
                <h4>Coś poszło nie tak <small>Something was wrong.</small></h4>
                <!-- /.classic-view -->
            </div>
            <!-- /.blog-content -->
        </div>
        <!-- /.blog -->
    </div>
    <!--/.container -->
</div>
<!--/.dark-wrapper -->
