<div class="panel panel-default">


    <style>
        .bolded {
            font-weight: bold;
        }

        .red-bolded {
            color: red;
            font-weight: bold;
            width: 100px !important;
            font-size: 12px;
        }

        .green {
            color: green;
            font-weight: bold;
        }
    </style>

    <div id="morris-area-chart"></div>
    
    <table id="financeDataTable" class="table small table-striped table-hover" width="100%" cellspacing="0">
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Kwota</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Kategoria</th>
                <th>Od</th>
                <th>Do</th>
                <th>Waluta</th>
                <th>Operacje</th>
            </tr>
        </tfoot>
        <thead>
            <tr>
                <th>Id</th>
                <th>Kwota</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Kategoria</th>
                <th>Od</th>
                <th>Do</th>
                <th>Waluta</th>
                <th>Operacje</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>