<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Wzory dokumentów
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Czyszczenie
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a id="btnRemoveStatistics"><i class="fa fa-remove"></i> Wyczyść listę odwiedzin strony</a>
                    </li>
                    <li>
                        <a id="btnRemoveTracing"><i class="fa fa-remove"></i> Wyczyść listę kliknięć użytkowników</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div id="morris-area-chart"></div>

        <!-- /.panel-body -->
        <ul class="nav small dashboard nav-tabs bar_tabs" id="statisticTab">
            @*
                <li class="active"><a href="#sectionAA"><i class="glyphicon glyphicon-tag"></i> ZERO SEMESTER / PREPARATORY</a></li>*@
            <li class="active"><a href="#sectionA"><i class="glyphicon glyphicon-import"></i> Dokumenty</a></li>            
        </ul>

        <div class="tab-content">
            <div id="sectionA" class="tab-pane fade in active">
                <table id="documentsDataTable" class="table small table-striped table-hover" width="100%" cellspacing="0">
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Nazwa</th>
                            <th>Opis dokumentu</th>
                            <th>Typ</th>
                            <th>Plik</th>
                            <th>Data dokumentu</th>
                            <th>Wersja dokumentu</th>
                            <th>Data zamieszczenia</th>
                            <th>Aktualny</th>
                            <th>Akcje</th>
                        </tr>
                    </tfoot>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nazwa</th>
                            <th>Opis dokumentu</th>
                            <th>Typ</th>
                            <th>Plik</th>
                            <th>Data dokumentu</th>
                            <th>Wersja dokumentu</th>
                            <th>Data zamieszczenia</th>
                            <th>Aktualny</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>            
        </div>        
    </div>
</div>
