<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Subskrybenci
        <div class="pull-right">
            <div class="btn-group">
                
            </div>
        </div>

    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div id="morris-area-chart"></div>

        <!-- /.panel-body -->
        <ul class="nav small dashboard nav-tabs bar_tabs" id="statisticTab">
            @*
        <li class="active"><a href="#sectionAA"><i class="glyphicon glyphicon-tag"></i> ZERO SEMESTER / PREPARATORY</a></li>*@
            <li class="active"><a href="#sectionA"><i class="glyphicon glyphicon-import"></i> Subskrybenci newslettera</a></li>
            <li><a href="#sectionB"><i class="glyphicon glyphicon-import"></i> Wysłane newslettery</a></li>
        </ul>

        <div class="tab-content">
            <div id="sectionA" class="tab-pane fade in active">
                <table id="subscriberDataTable" class="table small table-striped table-hover" width="100%" cellspacing="0">
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Data zapisania</th>
                            <th>Aktywny</th>
                            <th>Akcje</th>
                        </tr>
                    </tfoot>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Data zapisania</th>
                            <th>Aktywny</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div id="sectionB" class="tab-pane fade">
                <table id="newsletterDataTable" class="table small table-striped table-hover" width="100%" cellspacing="0">
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Temat newslettera</th>
                            <th>Data zapisania</th>
                            <th>Data ost. wysłania</th>
                            <th>Aktywny</th>
                            <th>Akcje</th>
                        </tr>
                    </tfoot>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Temat newslettera</th>
                            <th>Data zapisania</th>
                            <th>Data ost. wysłania</th>
                            <th>Aktywny</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
