<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=|DataDirectory|sitedb.sdf" providerName="System.Data.SqlServerCE.4.0"/>
    <add name="Entities" connectionString="metadata=&quot;res://*/Notatki.Baza danych.csdl|res://*/Notatki.Baza danych.ssdl|res://*/Notatki.Baza danych.msl&quot;;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=C:\Biznesowe\devarts\devarts\App_Data\sitedb.sdf&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="AdminRole" value="Administrator"/>
    <add key="AdminLogin" value="Administrator"/>
    <add key="AdminPassword" value="kor6taw32xxy12"/>
    <!-- WYSYŁANIE E-MAILI -->
    <add key="contactEmail" value="kontakt@spanishwaterdog.pl"/>
    <add key="contactEmailTitle" value="Belagio - Hodowla Hiszpańskich Psów Dowodnych"/>
    <add key="contactEmailPassword" value="SpanishWaterDog2022!"/>
    <add key="contactEmailPort" value="587"/>
    <add key="contactEmailHost" value="smtp.webio.pl"/>
    <!-- WYSYŁANIE NEWSLETTERÓW -->
    <add key="sendNewsletterEmail" value="contact@supercharty.pl"/>
    <add key="sendNewsletterEmailTitle" value="Najnowsze wiadomości z supercharty.pl"/>
    <add key="sendNewsletterEmailPassword" value="Ladyvet2019!"/>
    <add key="sendNewsletterEmailPort" value="587"/>
    <add key="sendNewsletterEmailHost" value="smtp.webio.pl"/>
    <!-- INFORMACJE O PRODUKCIE -->
    <add key="devArtsCMS" value="DevArts DogKennel CMS Pro 2022 (3.0)"/>
    <!-- INFORMACJE O STRONIE -->
    <add key="siteName" value="PureBreed"/>
    <add key="siteUrl" value="http://www.spanishwaterdog.pl"/>
    <add key="siteDescription" value="Belagio - Hodowla Hiszpańskich Psów Dowodnych"/>
    <!-- INFORMACJE O WŁAŚCICIELU -->
    <add key="ownerFirstName" value="Dominika"/>
    <add key="ownerSurName" value="Kania"/>
    <add key="ownerEmail" value="spanishwaterdog@gmail.com"/>
    <add key="ownerPhone" value="886-614-215, 784-943-133"/>
    <add key="ownerFacebookPerson" value="Belagio"/>
    <add key="ownerFacebookFunPage" value="Belagio"/>
    <add key="webDomainName" value="http://www.spanishwaterdog.pl"/>
    <!-- INFORMACJE O LAYOUCIE -->
    <add key="templateUrl" value="https://themeforest.net/item/polo-responsive-multipurpose-html5-template/13708923"/>
    <add key="templateAuth" value="envatomarket"/>
    <add key="templatePrice" value="18$"/>
    <add key="siteDescription" value="PureBreed"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--<customErrors mode="On" defaultRedirect="~/Views/Shared/Error.cshtml">
      <error statusCode="403" redirect="~/Views/Shared/UnauthorizedAccess.cshtml" />
      <error statusCode="404" redirect="~/Views/Shared/FileNotFound.cshtml" />
      <error statusCode="500" redirect="~/Views/Shared/InternalServerError.html" />
    </customErrors>-->
    <sessionState mode="InProc" timeout="360"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="200"/>
    </authentication>
    <compilation targetFramework="4.8" debug="true"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="50000000"/>
    <membership defaultProvider="SimpleMembershipProvider">
      <providers>
        <clear/>
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData"/>
      </providers>
    </membership>
    <roleManager enabled="true"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="kontakt@spanishwaterdog.pl">
        <network host="smtp.webio.pl" port="587" userName="kontakt@spanishwaterdog.pl" password="SpanishWaterDog2022!" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.14.0.0" newVersion="2.14.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404"/>
      <error statusCode="404" responseMode="ExecuteURL" path="/Error/NotFound"/>
      <remove statusCode="403"/>
      <error statusCode="403" path="~/Error/BadRequest"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="~/Error/ServerError"/>
    </httpErrors>-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800"/>
        <!--50MB-->
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{UNENCODED_URL}" appendQueryString="false"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>